*.pyc
*.txt
*.so
*.pyd
cherrypy/*
bengali/*.xml
gujarati/*.xml
hindi/*.xml
hindiMobile/*.xml
kannada/*.xml
malayalam/*.xml
marathi/*.xml
nepali/*.xml
punjabi/*.xml
tamil/*.xml
telugu/*.xml
EnglishPronouncingTrees/*
IndianPronouncingTrees/*
logs/*
dump/*
*.zip
*.bz2
*.gz
Python Cart/python/build/
